@inherits LayoutComponentBase

<PageTitle>Цивилизация</PageTitle>

<main>
    <img class="bg" alt="BG" src="/Images/MainMenu/MainMenuBG.jpg"/>
    <article class="MainMenuContainer">
        @Body
    </article>
</main>

