
.MainMenu h3 {
    color: white;
}

.MainMenu {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

    .MainMenu img {
        width: 400px;
        height: 400px;
    }

    .MainMenu div {
        position: absolute;
    }

    .MainMenu a {
        display: table;
        margin: 10px auto;
        text-align: center;
    }
