<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Главное Меню</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Units">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Форматы
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Districts">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Территории
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Eras">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Эры
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Players">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Пользователи
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Missions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Задания
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="MissionTypes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Типы заданий
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Wheels">
                <span class="oi oi-plus" aria-hidden="true"></span> Колеса Фортуны
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Prizes">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Призы Колес Фортуны
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
